* {
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./img/teste5.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.226);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 60px;
}

.left_area {
    margin-left: 63px;
}

.left_area h1 {
    float: bottom;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: orange;
}

.left_area img {
    width: 40px;
    margin-top: -7px;
    margin-left: 22px;
}

.logout_btn {
    width: 70px;
    height: 15px;
    text-align: center;
    padding: 6px;
    background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 102, 0));
    text-decoration: none;
    float: right;
    margin-top: -55px;
    margin-right: 40px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover {
    background: white;
    color: orange;
}

.sidebar {
    top: 0;
    background: rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(5px);
    margin-top: 100px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 102, 0));
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 25px;
    margin-top: 20px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #ff9900;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 90px;
    padding: 20px;
    margin-left: 250px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

section {
    height: 100%;
    width: 100%;
}

#CriarRota {
    padding-top: 120px;
    background-color: rgb(0, 0, 0);
}

#Saldo {
    padding-top: 160px;
}

.box-top {
    height: 30%;
    width: 80%;
    margin: 30px auto;
    color: black;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.box-top h3 {
    margin-top: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 15px #ffffff;
    font-size: 30px;
}

.box-top span {
    font-size: 50%;
}

.box-top h1 {
    color: #ff9900;
    margin: 60px;
    font-size: 70px;
}

.box-top {
    margin: 50px auto;
}

.butons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 15px;
    color: white;
    margin-top: 15px;
    width: 78%;
    height: 8%;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 102, 0));
    border: 0;
    backdrop-filter: blur(10px);
    outline: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    color: white;
    background: rgba(255, 255, 255, 0.062);
    box-shadow: 0px 0px 5px rgba(255, 154, 3, 0.651);
    transform: scale(1.09);
    transition: 0.2s;
}

#MinhasRotas {
    padding-top: 120px;
    background-color: rgb(0, 68, 255);
}

#Sobre {
    padding-top: 120px;
    background-color: rgb(255, 0, 191);
}

#Perfil {
    padding-top: 20px;
}

.divi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil {
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(5px);
    height: 75%;
    width: 70%;
}

.perfil h1 {
    color: #fdfdfd;
    font-size: 15px;
    margin-top: 20px;
}

.insert {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid orange;
    outline: none;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.insertdate {
    font-family: 'Open Sans', sans-serif;
    width: 42%;
    font-size: 15px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid orange;
    outline: none;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-perfil {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-top: 15px;
    width: 100%;
    height: 8%;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 102, 0));
    border: 0;
    outline: none;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-perfil:hover {
    color: white;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.062);
    box-shadow: 0px 0px 5px rgba(255, 154, 3, 0.651);
    transform: scale(1.05);
    transition: 0.2s;
}

.wrapper {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 20px auto;
    border: 3px solid rgb(255, 123, 0);
    border-radius: 50%;
    background: url("./img/userimage.gif");
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.myfile {
    position: relative;
    top: -25px;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}


/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    #check:checked~.content {
        margin-left: 0;
    }
    .mobile_nav {
        display: block;
    }
    .block {
        position: fixed;
        z-index: 2;
    }
    .nav_bar {
        background: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 166, 0));
        width: 100vh;
        margin-top: 100px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        position: fixed;
        left: 90%;
        top: 13%;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #ff9900;
    }
    .mobile_nav_items {
        position: fixed;
        z-index: 2;
        width: 100%;
        background: rgba(0, 0, 0, 0.226);
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(20px);
        display: none;
    }
    .mobile_nav_items a {
        display: block;
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 102, 0));
    }
    .mobile_nav_items i {
        padding-right: 10px;
        padding-top: 20px;
    }
    .active {
        display: block;
    }
    .perfil {
        position: absolute;
        z-index: 1;
    }
}