<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Point</title>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css" th:href="@{/css/main.css}">
</head>

<body>
    <div class="menu">
        <ul>
            <li class="logo"><img src="./css/img/navigation.png">
                <h1 class="logo-nome">Next Point</h1>
            </li>
            <li class="bt"><a href="/login" class="btn-login"><span>Logar</span></a></li>
        </ul>
        <div class="block">
            <ul class="list">
                <li><a class="letter-i" href="#">HOME</a></li>
                <li><a class="letter" href="#SERVICES">PLANOS</a></li>
                <li><a class="letter" href="#SOBRE">SOBRE</a></li>
                <li><a class="letter" href="#CONTATO">CONTATO</a></li>
            </ul>
        </div>
        <div class="burger">
            <div class="list1"></div>
            <div class="list2"></div>
            <div class="list3"></div>
        </div>
    </div>
    <section class="HOME">
        <div class="banner">
            <div class="App-Texto">
                <h1>Oque acha de ultilizar o transporte público e <br> pagar apenas o percorrido?</h1>
                <p>Com a
                    <font>Next Point </font>isso é possivel, já que ultizamos de um sistema inteligente, que calcula o valor da sua rota apartir dos pontos percorridos.
                </p>
                <div class="btn-play">
                    <div class="btn-play-circulo"><i class="fa fa-play" aria-hidden="true">
                        </i></div>
                    <small><b>Ver mais</b></small>
                </div>
            </div>
            <div class="App-Imagem">
                <img src="./css/img/main.png" />
            </div>
        </div>
        <div class="Links-Rapidos">
            <ul>
                <li><i class="fa fa-share-alt" aria-hidden="true">
                        <p>Compartilhe</p>
                    </i></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>Noticias Recentes</p>
                    </i>
                </li>
                <li><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <p>Loja</p>
                    </i>
            </ul>
        </div>
        <div class="Rede-Social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
            </ul>
        </div>

    </section>

    <section class="services" id="SERVICES">
        <div class="s-head">
            <h1>Planos</h1>
            <p>Temos os melhores serviços para cada tipo de perfil.</p>
        </div>
        <div class="s-box-cont">
            <div class="s-box">
                <div class="barra"></div>
                <h1>Estudante</h1>
                <img class="img-box" src="./css/img/student.png">
                <p>Plano perfeito para estudantes que, precisam de um serviço custo benefício. </p>
                <a href="#" class="s-btn"><span>ASSINAR</span></a>
            </div>
            <div class="s-box">
                <div class="barra"></div>
                <h1>Trabalhador</h1>
                <img class="img-box" src="./css/img/workek.png">
                <p>Plano perfeito para quem trabalha todos os dias. </p>
                <a href="#" class="s-btn"><span>ASSINAR</span></a>
            </div>
            <div class="s-box">
                <div class="barra"></div>
                <h1>Viajante</h1>
                <img class="img-box" src="./css/img/tourits.png">
                <p>Plano perfeito para turistas.</p>
                <a href="#" class="s-btn"><span>ASSINAR</span></a>
            </div>
        </div>
    </section>
    <section class="contato" id="CONTATO">
        <div class="bottom">
            <div class="Contact">
                <img src="./css/img/location.png">
                <img src="./css/img/email.png">
            </div>
            <div class="text-box">
                <input class="INSERT" type="text" name="Nome" placeholder="Nome Completo">
                <input class="INSERT" type="text" name="Email" placeholder="Email">
                <textarea cols="30" rows="5" placeholder="Descrição"></textarea>
                <input class="btn-Enviar" type="submit" name="Enviar">
            </div>
        </div>
    </section>

    <script src="./js/app.js"></script>

    <script type="text/javascript" src="./js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".s-box"), {
            max: 25,
            speed: 400
        });
    </script>
    <script type="text/javascript" src="./js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".App-Imagem"), {
            max: 25,
            speed: 400
        });
    </script>
</body>

</html>