<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.thymelead.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>NextPoint: Login</title>
</head>

<body>
    <div class="Top">
        <div class="menu">
            <ul>
                <li class="logo">
                    <img src="./css/img/navigation.png">
                    <h1 class="logo-nome">Next Point</h1>
                </li>
            </ul>
            <ul>
                <li><a class="letter" href="/"><b>HOME</b></a></li>
                <li><a class="letter" href="/#SERVICES">PLANOS</a></li>
                <li><a class="letter" href="/#SOBRE">SOBRE</a></li>
                <li><a class="letter" href="/#CONTATO">CONTATO</a></li>
            </ul>
        </div>
        <div class="body">
            <div class="Form-box">
                <div class="social-icons">
                    <img src="./css/img/1.png">
                    <img src="./css/img/2.png">
                    <img src="./css/img/3.png">
                </div>

                <form th:action="@{/Login}" method="POST" id="Login" class="input-group">
                    <div class="loginerro" th:if="${param.error}">
                        Usuario ou senha incorretos
                    </div>
                    <div th:if="${param.logout}">
                        Vc deslogou
                    </div>
                    <input type="text" id="username" name="username" class="Insert" placeholder="Usuário" required>
                    <input type="password" id="password" name="password" class="Insert" placeholder="Senha" required>
                    <label class="form-checkbox">
                        <input type="checkbox" class="check-box" id="rememberMe" for="rememberMe" value="lsRememberMe"><span>Lembrar Senha</span>
                        <span class="checkmark"></span>
                    </label>
                    </label>
                    <button type="submit" class="btn-login" value="Sign in" onclick="lsRememberMe()">Login</button>
                    <a class="registerpage" href="/Register">Criar conta</a>
                </form>
                
            </div>
        </div>
    </div>
    <script src="./js/fuction.js"></script>
    <script>
        var x = document.getElementById("Login");
        var y = document.getElementById("Cadastro");
        var z = document.getElementById("btn");

        function Cadastro() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function Login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    </script>
</body>

</html>