<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="pt-br" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Point:</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <img src="./css/img/navigation.png">
            <h1>NextPoint</h1>
        </div>
        <div class="right_area">
            <a class="logout_btn" onclick="logout();">Sair</a>
        </div>
    </header>
    <div class="sidebar">
        <div class="profile_info">
            <img src="1.png" class="profile_image" alt="">
            <h4>[[${#request.remoteUser}]]</h4>
        </div>
        <a href="#CriarRota"><i class="fas fa-desktop"></i><span>Criar rota</span></a>
        <a href="#Saldo"><i class="fas fa-table"></i><span>Saldo</span></a>
        <a href="#MinhasRotas"><i class="fas fa-th"></i><span>Minhas rotas</span></a>
        <a href="#Sobre"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
        <a href="#Perfil"><i class="fas fa-sliders-h"></i><span>Perfil</span></a>
    </div>
    <div class="mobile_nav">
        <div class="block">
            <div class="nav_bar">
                <img src="1.png" class="mobile_profile_image" alt="">
                <i class="fa fa-bars nav_btn"></i>
            </div>
            <div class="mobile_nav_items">
                <a href="#CriarRota"><i class="fas fa-desktop"></i><span>Criar rota</span></a>
                <a href="#Saldo"><i class="fas fa-table"></i><span>Saldo</span></a>
                <a href="#MinhasRotas"><i class="fas fa-th"></i><span>Minhas rotas</span></a>
                <a href="#Sobre"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
                <a href="#Perfil"><i class="fas fa-sliders-h"></i><span>Perfil</span></a>
            </div>
        </div>

    </div>
    <div class="content">
        <section id="CriarRota">
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section>
        <section id="Saldo">
            <div class="box-top">
                <h3>SALTO TOTAL</h3>
                <h1>[[${total}]]</h1>
                <table class="tabela">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="historico : ${historicos}">
                            <td th:text="${historico.hoje}"></td>
                            <td th:text="${historico.valor}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="butons">
                <form class="saldo" name="formsaldo" action="#" th:action="@{/Saldo}" th:object="${historicoform}" onsubmit="return isEmpty()" method="POST">
                    <div>
                        <input type="number" step="0.01" class="insertsaldo" name="valor" id="valor" th:field="*{valor}" placeholder="R$          ">
                    </div>
                    <div class="btns">
                        <button type="button" class="btncancelar" id="btn2">Cancelar</button>
                        <button type="submit" id="btn2">Adicionar</button>
                    </div>
                </form>
                <button type="button" class="btnsaldo" id="btn">Adicionar Saldo</button>
                <button type="button" class="btnhistorico" id="btn">Ver Historico</button>
            </div>
        </section>
        <section id="MinhasRotas">
            <div class="card ">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section>
        <section id="Sobre">
        </section>
        <section id="Perfil" class="divi">
            <form class="perfil" action="#" th:action="@{/Perfil}" th:object="${pessoaform}" method="POST">
                <div class="wrapper">
                    <input type="file" class="myfile" accept="image/png, image/jpeg">
                </div>
                <h1>Nome</h1>
                <input type="text" class="insert" th:field="*{nome}">
                <h1>Sobrenome</h1>
                <input type="text" class="insert" th:field="*{sobrenome}">
                <h1>CPF</h1>
                <input type="text" class="insertdate" placeholder=" . . - " th:field="*{cpf}">
                <h1>Data de Nascimento</h1>
                <input type="date" class="insertdate" th:field="*{dtNasc}">
                <button type="submit" class="btn-perfil">Salvar</button>
            </form>
        </section>
    </div>

    <script type="text/javascript ">
        $(document).ready(function() {
            $('.nav_btn').click(function() {
                $('.mobile_nav_items').toggleClass('active');
            });
        });
    </script>
    <script type="text/javascript ">
        $(document).ready(function() {
            $('.btnhistorico').click(function() {
                $('.tabela').toggleClass('mostrar');
            });
        });
    </script>
    <script type="text/javascript ">
        $(document).ready(function() {
            $('.btnsaldo').click(function() {
                $('.saldo').toggleClass('mostrar');
            });
        });
        $(document).ready(function() {
            $('.btncancelar').click(function() {
                $('.saldo').toggleClass('mostrar');
            });
        });
    </script>
    <script src="./js/fuction.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>