<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="https://www.thymelead.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Point:</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <img src="./css/img/navigation.png">
            <h1>NextPoint</h1>
        </div>
        <div class="right_area">
            <a href="/logout" class="logout_btn">Sair</a>
        </div>
    </header>
    <div class="sidebar">
        <div class="profile_info">
            <img src="1.png" class="profile_image" alt="">
            <h4>[[${#request.remoteUser}]]</h4>
        </div>
        <a href="#CriarRota"><i class="fas fa-desktop"></i><span>Criar rota</span></a>
        <a href="#Saldo"><i class="fas fa-table"></i><span>Saldo</span></a>
        <a href="#MinhasRotas"><i class="fas fa-th"></i><span>Minhas rotas</span></a>
        <a href="#Sobre"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
        <a href="#Perfil"><i class="fas fa-sliders-h"></i><span>Perfil</span></a>
    </div>
    <div class="mobile_nav">
        <div class="block">
            <div class="nav_bar">
                <img src="1.png" class="mobile_profile_image" alt="">
                <i class="fa fa-bars nav_btn"></i>
            </div>
            <div class="mobile_nav_items">
                <a href="#CriarRota"><i class="fas fa-desktop"></i><span>Criar rota</span></a>
                <a href="#Saldo"><i class="fas fa-table"></i><span>Saldo</span></a>
                <a href="#MinhasRotas"><i class="fas fa-th"></i><span>Minhas rotas</span></a>
                <a href="#Sobre"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
                <a href="#Perfil"><i class="fas fa-sliders-h"></i><span>Perfil</span></a>
            </div>
        </div>

    </div>
    <div class="content">
        <section id="CriarRota">
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section>
        <section id="Saldo">
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section>
        <section id="MinhasRotas">
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section>
        <section id="Sobre">

        </section>
        <section id="Perfil" class="divi">
            <form action="" class="perfil">
                <div class="wrapper">
                    <input type="file" class="myfile">
                </div>
                <h1>Nome</h1>
                <input type="text" class="insert" placeholder="">
                <h1>Sobrenome</h1>
                <input type="text" class="insert" placeholder="">
                <h1>CPF</h1>
                <input type="text" class="insertdate" placeholder="   .   .   -  ">
                <h1>Data de Nascimento</h1>
                <input type="date" class="insertdate" placeholder="">
                <h1>Email</h1>
                <input type="text" class="insert" placeholder="">
                <h1>Senha</h1>
                <input type="password" class="insert" placeholder="">
                <button type="submit" class="btn-perfil">Salvar</button>
            </form>
        </section>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.nav_btn').click(function() {
                $('.mobile_nav_items').toggleClass('active');
            });
        });
    </script>

</body>

</html>